[submodule "virtualenv"]
	path = virtualenv
	url = git@github.com:pypa/virtualenv.git
[submodule "virtualfish"]
	path = virtualfish
	url = git@github.com:amezin/virtualfish.git
[submodule "pyenv"]
	path = pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "theme-bobthefish"]
	path = theme-bobthefish
	url = git@github.com:oh-my-fish/theme-bobthefish.git
